@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@keyframes float {
  0%, 100% {
    transform: translateY(0) scale(1.1);
  }
  50% {
    transform: translateY(-20px) scale(1.1);
  }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 6s ease-in-out 1s infinite;
}

.animate-float-more-delayed {
  animation: float 6s ease-in-out 2s infinite;
}

.animate-float-most-delayed {
  animation: float 6s ease-in-out 3s infinite;
} 